<div class="container-fluid" ng-controller="modules.room.controllers.state as me">
    <div class="row">&nbsp;</div>
    <div class="col-md-2" ng-repeat="room in me.rooms">
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{room.Temperature}} ℃
            </div>
            <div class="panel-body text-center">
                <h2>{{room.No}}</h2>
            </div>
            <div class="container-fluid">
                <div class="col-sm-4">
                    <h2><i class="glyphicon glyphicon-home"></i></h2>
                </div>
                <div class="col-sm-4">
                    <h2><i class="glyphicon glyphicon-home"></i></h2>
                </div>
                <div class="col-sm-4">
                    <h2><i class="glyphicon glyphicon-home"></i></h2>
                </div>
                <div class="col-sm-4">
                    <h2><i class="glyphicon glyphicon-home"></i></h2>
                </div>
                <div class="col-sm-4">
                    <h2><i class="glyphicon glyphicon-home"></i></h2>
                </div>
                <div class="col-sm-4">
                    <h2><i class="glyphicon glyphicon-home"></i></h2>
                </div>
            </div>
        </div>
    </div>
</div>