.manage-nav {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 220px;
    background-color: #2f4050;
}

.manage-bar {
    margin-left: 220px
}

.manage-content {
    position: absolute;
    left: 220px;
    top: 0;
    bottom: 0;
    right: 0;
}

.manage-info {
    margin-left: 70px;
}

.manage-content .navbar-fixed-top {
    margin-left: 220px;
}

.manage-content .tab-content {
    position: absolute;
    top: 94px;
    bottom: 0;
    right: 0;
    left: 0;
}

.manage-content .tab-content .tab-pane {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.manage-content .tab-content .tab-pane>div,
.manage-content .tab-content .tab-pane>iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.manage-content .tab {
    margin-top: 50px;
    border-bottom: solid 2px #2f4050
}

.manage-content .tab .nav>li>a {
    overflow: hidden;
    height: 42px;
}

.manage-content .tab .nav>li>a>button {
    margin-left: 10px;
}

.manage-content .tab .nav .active>a {
    background: #2f4050;
    color: #dfe4ed;
}

.manage-content .tab .nav .active>a>button.close {
    color: #fff;
}

.manage-content .tab .nav .active>a>button.close:focus,
.manage-content .tab .nav .active>a>button.close:hover {
    color: #fff;
}

.text-muted {
    color: #8095a8;
}

.nav-header {
    background: url(../images/header-profile.png) no-repeat
}

.nav-header a {
    color: #dfe4ed;
}

.manage-nav .nav>li>a {
    color: #a7b1c2;
    font-weight: 600;
    padding: 14px 20px 14px 25px
}

.manage-nav .nav>li>a:focus,
.manage-nav .nav>li>a:hover {
    background-color: #293846;
    color: #fff
}

.manage-nav .nav>li>a i {
    margin-right: 6px
}

.manage-nav .nav>li.active {
    border-left: 4px solid #19aa8d;
    background: #293846
}

.manage-nav .nav.nav-second-level>li.active {
    border: none
}

.manage-nav .nav>li>.nav-second-level li a {
    font-size: 12px;
    border-radius: 0 2px 2px 0
}

.manage-nav .nav-second-level li,
.manage-nav .nav-third-level li {
    border-bottom: none!important
}

.manage-nav .nav-second-level li a {
    padding: 7px 15px 7px 10px;
    padding-left: 52px
}

.manage-nav .nav-second-level li:last-child {
    margin-bottom: 10px
}

.manage-nav .nav-third-level li a {
    padding-left: 62px
}

.arrow {
    float: right;
    margin-top: 2px;
}

.ng-table th {
    text-align: left !important;
}

.ng-table-pager {
    display: none !important;
}