.layout {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.loginbg {
    background-image: url('../images/login-bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.layout .loginwindow {
    margin: 0 auto 0 auto;
    width: 80%;
    top: 10%;
}

.mobile-title {
    position: absolute;
    left: 0;
    right: 0;
}

.mobile-navbar {
    background-image: url('../images/navbar.png');
    background-repeat: repeat-x;
    height: 53px;
}

.mobile-bottom {
    background-image: url('../images/navbar-black.png');
    background-repeat: repeat-x;
    height: 51px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.mobile-content {
    background-color: #f2f2f2;
    position: absolute;
    top: 53px;
    bottom: 51px;
    left: 0;
    right: 0;
}

.mobilenav-btn {
    padding: 6px 10px
}