.layout {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.loginbg {
    background-image: url('../images/login-bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.layout .loginwindow {
    margin: 0 auto 0 auto;
    width: 80%;
    top: 10%;
}

.mobile-title {
    position: absolute;
    left: 0;
    right: 0;
}

.mobile-navbar {
    background-image: url('../images/navbar.png');
    background-repeat: repeat-x;
    height: 53px;
}

.mobile-bottom {
    background-image: url('../images/navbar-black.png');
    background-repeat: repeat-x;
    height: 51px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.mobile-content {
    /* background-color: #f2f2f2; */
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fefefe), to(#f2f2f2));
    position: absolute;
    top: 53px;
    bottom: 51px;
    left: 0;
    right: 0;
}

.mobile-row {
    margin-bottom: 15px;
}

.mobilenav-btn {
    padding: 6px 10px
}

.index-tmpbg {
    background-image: url('../images/椭圆 1 副本 2.png');
    background-position-x: center;
    background-repeat: no-repeat;
    height: 118px;
    padding-top: 30px;
}

.index-temperature {
    font-size: 30pt;
    color: #298fed;
}

.index-value {
    font-size: x-large;
    margin-left: 5px;
}

.index-up {
    position: relative;
    height: 35%;
    vertical-align: middle;
}

.index-up p {
    font-size: larger;
    font-weight: bold;
}

.index-middle {
    position: relative;
    height: 35%
}

.index-bottom {
    position: relative;
    height: 30%
}

.mobile-btn-blue {
    background-image: url('../images/btn-blue.png');
    width: 222px;
    height: 45px;
    border: none;
    color: white;
}