<div class="layout">
    <div class="air-top">
        <a class="btn-circle btn-red"><i class="fa fa-power-off" aria-hidden="true"></i></a>
    </div>
    <div class="air-middle"></div>
    <div class="container-fluid air-bottom">
        <div class="mobile-row-flex">
            <div class="mobile-col" style="width: 33.333333%">
                <a class="btn-rectangle-sm">高 风</a>
            </div>
            <div class="mobile-col" style="width: 33.333333%">
                <a class="btn-rectangle-sm mobile-row">中 风</a>
            </div>
            <div class="mobile-col" style="width: 33.333333%">
                <a class="btn-rectangle-sm mobile-row">低 风</a>
            </div>
        </div>
        <div class="mobile-row-flex">
            <div class="mobile-col" style="width: 33.333333%">
                <a class="btn-rectangle-sm mobile-row">风 向</a>
            </div>
            <div class="mobile-col" style="width: 33.333333%">
                <a class="btn-rectangle-sm mobile-row">扫 风</a>
            </div>
            <div class="mobile-col" style="width: 33.333333%">
                <a class="btn-rectangle-sm mobile-row">自 动</a>
            </div>
        </div>
    </div>
</div>