<div class="layout">
    <div style="position: relative; height: 50%">
        <div class="mobile-center" style="padding: 10px">
            <a class="btn-ellipse-sm">布 帘</a>
        </div>
        <div class="text-center" style="margin-bottom: 10px">
            <img src="../images/curtauns-open.png" width="160px" />
        </div>
        <div>
            <div class="mobile-col" style="width: 33.333333%">
                <a class="btn-rectangle-sm">开</a>
            </div>
            <div class="mobile-col" style="width: 33.333333%">
                <a class="btn-rectangle-sm">关</a>
            </div>
            <div class="mobile-col" style="width: 33.333333%">
                <a class="btn-rectangle-sm">停</a>
            </div>
        </div>
    </div>
    <div style="position: relative; height: 50%">
        <div class="mobile-center" style="padding: 10px">
            <a class="btn-ellipse-sm">纱 帘</a>
        </div>
        <div class="text-center" style="margin-bottom: 10px">
            <img src="../images/curtauns-close.png" width="160px" />
        </div>
        <div>
            <div class="mobile-col" style="width: 33.333333%">
                <a class="btn-rectangle-sm">开</a>
            </div>
            <div class="mobile-col" style="width: 33.333333%">
                <a class="btn-rectangle-sm">关</a>
            </div>
            <div class="mobile-col" style="width: 33.333333%">
                <a class="btn-rectangle-sm">停</a>
            </div>
        </div>
    </div>
</div>