<div ng-controller="modules.manageui.controllers.main as me">
    <div class="manage-nav">
        <div class="panel-body nav-header">
            <div class="pull-left">
                <img class="img-circle" src="../../images/profile_small.jpg" width="64px" height="64px" />
            </div>
            <div class="container-fluid manage-info">
                <div class="form-group text-left">
                    <div>
                        <a><strong>用户名</strong></a>
                    </div>
                    <div>
                        <a class="text-muted">超级管理员 <i class="caret"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <ul sys-links="me.links" class="metismenu nav"></ul>
        <!--<ul class="metismenu nav">
            <li>
                <a href="#"><i class="fa fa-cogs"></i> <span>系统设置</span></a>
                <ul class="nav nav-second-level" aria-expanded="false">
                    <li>
                        <a href="#"><span>系统设置</span></a>
                        <ul class="nav nav-third-level" aria-expanded="false">
                            <li>
                                <a href="#"><span>系统设置</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>-->
    </div>
    <div class="manage-content">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-form navbar-left">
                <button class="btn btn-success"><i class="fa fa-bars"></i></button>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href=""><i class="fa fa-envelope"></i></a></li>
                <li><a></a></li>
            </ul>
        </div>
        <div>
            <div class="tab">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"><a href=""><i class="glyphicon glyphicon-th-list"></i></a></li>
                    <li role="presentation" class="active">
                        <a href="#" data-target="#tab_home" data-toggle="tab" state="main" state-params=""><i class="glyphicon glyphicon-home"></i> 首页</a>
                    </li>
                    <!--tabs-->
                    <li role="presentation" ng-repeat="tab in me.tabs">
                        <a href="#" data-target="#{{tab.tab}}" data-toggle="tab" state="{{tab.tabState}}" state-params="{{tab.tabStateParams}}">{{tab.title}}
                        &nbsp;<button type="button" class="close" aria-label="Close" ng-click="me.tabClose(tab)"><span aria-hidden="true">&times;</span></button></a>
                    </li>
                    <!---->
                    <li role="presentation" class="pull-right"><a href="" ng-click="me.logout()"><i class="glyphicon glyphicon-log-out"></i> 退出</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tab_home">
                    <div ng-include="'views/room/Home.html'"></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="{{tab.tab}}" ng-repeat="tab in me.tabs" ng-init="me.tabAdded(tab)">
                    <iframe ng-if="tab.target==='iframe'" ng-src="{{tab.Page}}"></iframe>
                    <div ng-if="tab.target==='tab'" ui-view="{{tab.tab}}"></div>
                </div>
            </div>
        </div>
    </div>
</div>