<div ng-controller="modules.manageui.controllers.main as me">
    <div class="manage-nav">
        <div class="panel-body nav-header">
            <div class="pull-left">
                <a href="" ng-click="me.editPicture()"><img class="img-circle" src="./images/profile_small.jpg" width="64px" height="64px" /></a>
            </div>
            <div class="container-fluid manage-info">
                <div class="form-group text-left">
                    <div>
                        <a href="" ng-click="me.showUser()"><strong>{{$appEnvironment.user.Username}}</strong></a>
                    </div>
                    <div class="dropdown" style="z-index: 9999">
                        <a href="" class="text-muted dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{$appEnvironment.user.Rolename}} <i class="caret"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="" ng-click="me.showUser()">个人资料</a></li>
                            <li><a href="" ng-click="me.editPicture()">修改头像</a></li>
                            <li><a href="">锁定</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="" ng-click="me.logout()">退出</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <ul sys-links="me.links" class="metismenu nav"></ul>
    </div>
    <div class="manage-content">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-form navbar-left">
                <button class="btn btn-success"><i class="fa fa-bars"></i></button>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <span class="badge badge-warning message-number">2</span>
                    <a href=""><i class="fa fa-address-card fa-fw message-icon"></i>登记</a>
                </li>
                <li>
                    <span class="badge badge-warning message-number">2</span>
                    <a href=""><i class="fa fa-bed fa-fw message-icon" aria-hidden="true"></i>房态</a>
                </li>
                <li>
                    <span class="badge badge-warning message-number">99</span>
                    <a href=""><i class="fa fa-envelope fa-fw message-icon" aria-hidden="true"></i>信息</a>
                </li>
                <li>
                    <span class="badge badge-warning message-number">2</span>
                    <a href=""><i class="fa fa-bell fa-fw message-icon" aria-hidden="true"></i>呼叫</a>
                </li>
                <li><a></a></li>
            </ul>
        </div>
        <div class="manage-tab">
            <div class="tab">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="ui-state-disabled"><a href=""><i class="glyphicon glyphicon-th-list"></i></a></li>
                    <li role="presentation" head="true" class="ui-state-disabled active">
                        <a href="#" data-target="#tab_home" data-toggle="tab"><i class="glyphicon glyphicon-home"></i> 首页</a>
                    </li>
                    <li role="presentation" tail="true" class="pull-right tail ui-state-disabled">
                        <a href="" ng-click="me.logout()"><i class="glyphicon glyphicon-log-out"></i> 退出</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content manage-tab-content">
                <div role="tabpanel" class="tab-pane manage-tab-pane active" id="tab_home">
                    <div ui-view="home" style="background-color: #f5f5f5"></div>
                </div>
            </div>
        </div>
    </div>
</div>