<div class="row">
    <!---->
    <div class="col-md-12">
        <h4 class="page-header"><i class="glyphicon glyphicon-cog"></i> 请求清理</h4>
        <div class="row">
            <div class="form-group col-md-3">
                <div class="row">
                    <div class="col-md-5">
                        <label class="form-control-static">动画显示</label>
                    </div>
                    <div class="col-md-7">
                        <div switch ng-model="SweepAnimation"></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="row">
                    <div class="col-md-5">
                        <label class="form-control-static">消息弹出</label>
                    </div>
                    <div class="col-md-7">
                        <div switch ng-model="SweepPopup"></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="row">
                    <div class="col-md-5">
                        <label class="form-control-static">语音提示</label>
                    </div>
                    <div class="col-md-7">
                        <div switch ng-model="SweepVoice"></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="container-fluid row">
                    <div class="col-md-5">
                        <label class="form-control-static">播放次数</label>
                    </div>
                    <div class="col-md-7 input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default"><i class="glyphicon glyphicon-minus"></i></button>
                        </div>
                        <input type="number" class="form-control" min="0" />
                        <div class="input-group-btn">
                            <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <div class="col-md-12">
        <h4 class="page-header"><i class="glyphicon glyphicon-cog"></i> 呼叫服务</h4>
        <div class="row">
            <div class="form-group col-md-3">
                <div class="row">
                    <div class="col-md-5">
                        <label class="form-control-static">动画显示</label>
                    </div>
                    <div class="col-md-7">
                        <div switch ng-model="CallAnimation"></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="row">
                    <div class="col-md-5">
                        <label class="form-control-static">消息弹出</label>
                    </div>
                    <div class="col-md-7">
                        <div switch ng-model="CallPopup"></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="row">
                    <div class="col-md-5">
                        <label class="form-control-static">语音提示</label>
                    </div>
                    <div class="col-md-7">
                        <div switch ng-model="CallVoice"></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="container-fluid row">
                    <div class="col-md-5">
                        <label class="form-control-static">播放次数</label>
                    </div>
                    <div class="col-md-7 input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default"><i class="glyphicon glyphicon-minus"></i></button>
                        </div>
                        <input type="number" class="form-control" min="0" />
                        <div class="input-group-btn">
                            <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <div class="col-md-12">
        <h4 class="page-header"><i class="glyphicon glyphicon-cog"></i> 退房预告</h4>
        <div class="row">
            <div class="form-group col-md-3">
                <div class="row">
                    <div class="col-md-5">
                        <label class="form-control-static">动画显示</label>
                    </div>
                    <div class="col-md-7">
                        <div switch ng-model="CheckoutAnimation"></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="row">
                    <div class="col-md-5">
                        <label class="form-control-static">消息弹出</label>
                    </div>
                    <div class="col-md-7">
                        <div switch ng-model="CheckoutPopup"></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="row">
                    <div class="col-md-5">
                        <label class="form-control-static">语音提示</label>
                    </div>
                    <div class="col-md-7">
                        <div switch ng-model="CheckoutVoice"></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="container-fluid row">
                    <div class="col-md-5">
                        <label class="form-control-static">播放次数</label>
                    </div>
                    <div class="col-md-7 input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default"><i class="glyphicon glyphicon-minus"></i></button>
                        </div>
                        <input type="number" class="form-control" min="0" />
                        <div class="input-group-btn">
                            <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <div class="col-md-12">
        <h4 class="page-header"><i class="glyphicon glyphicon-cog"></i> 紧急呼叫</h4>
        <div class="row">
            <div class="form-group col-md-3">
                <div class="row">
                    <div class="col-md-5">
                        <label class="form-control-static">动画显示</label>
                    </div>
                    <div class="col-md-7">
                        <div switch ng-model="AlertAnimation"></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="row">
                    <div class="col-md-5">
                        <label class="form-control-static">消息弹出</label>
                    </div>
                    <div class="col-md-7">
                        <div switch ng-model="AlertPopup"></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="row">
                    <div class="col-md-5">
                        <label class="form-control-static">语音提示</label>
                    </div>
                    <div class="col-md-7">
                        <div switch ng-model="AlertVoice"></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="container-fluid row">
                    <div class="col-md-5">
                        <label class="form-control-static">播放次数</label>
                    </div>
                    <div class="col-md-7 input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default"><i class="glyphicon glyphicon-minus"></i></button>
                        </div>
                        <input type="number" class="form-control" min="0" />
                        <div class="input-group-btn">
                            <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <div class="col-md-12">
        <h4 class="page-header"><i class="glyphicon glyphicon-cog"></i> 房门异常</h4>
        <div class="row">
            <div class="form-group col-md-3">
                <div class="row">
                    <div class="col-md-5">
                        <label class="form-control-static">动画显示</label>
                    </div>
                    <div class="col-md-7">
                        <div switch ng-model="DoorAnimation"></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="row">
                    <div class="col-md-5">
                        <label class="form-control-static">消息弹出</label>
                    </div>
                    <div class="col-md-7">
                        <div switch ng-model="DoorPopup"></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="row">
                    <div class="col-md-5">
                        <label class="form-control-static">语音提示</label>
                    </div>
                    <div class="col-md-7">
                        <div switch ng-model="DoorVoice"></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="container-fluid row">
                    <div class="col-md-5">
                        <label class="form-control-static">播放次数</label>
                    </div>
                    <div class="col-md-7 input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default"><i class="glyphicon glyphicon-minus"></i></button>
                        </div>
                        <input type="number" class="form-control" min="0" />
                        <div class="input-group-btn">
                            <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-9">
                <div class="row">
                    <div class="col-md-5">
                        <label class="form-control-static">有效时段</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-inline">
                            <div class="input-group col-md-6">
                                <input type="text" class="form-control" />
                                <div class="input-group-btn">
                                    <button class="btn btn-default">选择</button>
                                </div>
                            </div>
                            <div class="input-group col-md-6">
                                <input type="text" class="form-control" />
                                <div class="input-group-btn">
                                    <button class="btn btn-default">选择</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="container-fluid row">
                    <div class="col-md-5">
                        <label class="form-control-static">延时时间</label>
                    </div>
                    <div class="col-md-7 input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default"><i class="glyphicon glyphicon-minus"></i></button>
                        </div>
                        <input type="number" class="form-control" min="0" />
                        <div class="input-group-btn">
                            <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>