<div ng-controller="modules.room.controllers.parameterSettings as me">
    <div class="navbar navbar-default navbar-static-top" style="margin: 0">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> 保存</button>
                    </div>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <div class="container-fluid row content" style="margin-top: 50px;padding-top: 15px">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <span class="panel-title">房态显示设置</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="page-header"><i class="glyphicon glyphicon-cog"></i> 房门</h3>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="form-control-static">房门状态</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div switch ng-model="DoorStatusEnabeld"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--保险箱-->
                        <div class="col-md-6">
                            <h3 class="page-header"><i class="glyphicon glyphicon-cog"></i> 保险箱</h3>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="form-control-static">保险箱状态</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div switch ng-model="StrongStatusEnabeld"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--服务请求-->
                    <h3 class="page-header"><i class="glyphicon glyphicon-cog"></i> 服务请求</h3>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <div class="row">
                                <div class="col-md-5">
                                    <label class="form-control-static">请勿打扰</label>
                                </div>
                                <div class="col-md-7">
                                    <div switch ng-model="StrongStatusEnabeld"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="row">
                                <div class="col-md-5">
                                    <label class="form-control-static">请求打扫</label>
                                </div>
                                <div class="col-md-7">
                                    <div switch ng-model="StrongStatusEnabeld"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="row">
                                <div class="col-md-5">
                                    <label class="form-control-static">退房预约</label>
                                </div>
                                <div class="col-md-7">
                                    <div switch ng-model="StrongStatusEnabeld"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="row">
                                <div class="col-md-5">
                                    <label class="form-control-static">呼叫请求</label>
                                </div>
                                <div class="col-md-7">
                                    <div switch ng-model="StrongStatusEnabeld"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--告警-->
                    <h3 class="page-header"><i class="glyphicon glyphicon-cog"></i> 告警设置</h3>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <div class="row">
                                <div class="col-md-5">
                                    <label class="form-control-static">紧急呼叫</label>
                                </div>
                                <div class="col-md-7">
                                    <div switch ng-model="StrongStatusEnabeld"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="row">
                                <div class="col-md-5">
                                    <label class="form-control-static">房门异常</label>
                                </div>
                                <div class="col-md-7">
                                    <div switch ng-model="StrongStatusEnabeld"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="row">
                                <div class="col-md-5">
                                    <label class="form-control-static">温度异常</label>
                                </div>
                                <div class="col-md-7">
                                    <div switch ng-model="StrongStatusEnabeld"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="row">
                                <div class="col-md-5">
                                    <label class="form-control-static">消防警告</label>
                                </div>
                                <div class="col-md-7">
                                    <div switch ng-model="StrongStatusEnabeld"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--其他-->
                    <h3 class="page-header"><i class="glyphicon glyphicon-cog"></i> 其他</h3>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <div class="row">
                                <div class="col-md-5">
                                    <label class="form-control-static">显示房间状态</label>
                                </div>
                                <div class="col-md-7">
                                    <div switch ng-model="StrongStatusEnabeld"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="row">
                                <div class="col-md-5">
                                    <label class="form-control-static">显示身份识别</label>
                                </div>
                                <div class="col-md-7">
                                    <div switch ng-model="StrongStatusEnabeld"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="row">
                                <div class="col-md-5">
                                    <label class="form-control-static">显示房间温度</label>
                                </div>
                                <div class="col-md-7">
                                    <div switch ng-model="StrongStatusEnabeld"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="row">
                                <div class="col-md-5">
                                    <label class="form-control-static">显示房间风速</label>
                                </div>
                                <div class="col-md-7">
                                    <div switch ng-model="StrongStatusEnabeld"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="row">
                                <div class="col-md-5">
                                    <label class="form-control-static">显示通讯中断</label>
                                </div>
                                <div class="col-md-7">
                                    <div switch ng-model="StrongStatusEnabeld"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <span class="panel-title">呼叫设置</span>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
</div>