<div ng-controller="modules.room.controllers.test as me">
    <div class="navbar navbar-default navbar-static-top" style="margin: 0">
        <ul class="nav navbar-nav" role="tablist">
            <li role="presentation" class="active"><a href="#evt_room" aria-controls="evt_room" role="tab" data-toggle="tab"><strong>房间事件</strong></a></li>
            <li role="presentation"><a href="#evt_system" aria-controls="evt_system" role="tab" data-toggle="tab"><strong>系统事件</strong></a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="evt_room">aaa</div>
        <div role="tabpanel" class="tab-pane" id="evt_system">bbb</div>
    </div>
</div>